/* Set maximum width and auto margin on left and right for centering */
.container {
  max-width: 1200px;
  /* adjust as needed */
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

/* Add more vertical spacing between sections */
section {
  padding: 100px 50px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 3rem;
  color: teal;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 2rem;
  color: teal;
  margin: 20px 0;
}

h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: teal;
  margin: 20px 0;
}

h4 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: teal;
  margin: 20px 0;
}

h5 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1rem !important;
  color: teal !important;
  margin: 20px 0;
}

.title {}

/* Style the table to be 80% width and centered */
table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

/* Style the table header with a background color */
th {
  background-color: #f08080;
  color: #2F4F4F;
  /* dark slate gray for text */
  padding: 10px;
}

/* th:nth-child(3) {
  background-color: #add8e6;
} */

/* Style the table cells */
td {
  padding: 10px;
}

/* Style every even row with one color */
tr:nth-child(even) {
  background-color: #FAF0E6;
  /* off-white */
}

/* Style every odd row with another color */
tr:nth-child(odd) {
  background-color: white;
  /* light coral */
}

/* Highlight the third column */
td:nth-child(3) {
  background-color: #add8e6;
  color: #2f4f4f;
  /* white text, or another color that contrasts well with the background */
  /* border: 1px solid #2F4F4F; */
  /* dark slate gray border */
}

hr {
  border: 1px solid #FAF0E6;
  width: 20%;
  margin: 20px auto;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin: 30px 0;
}

.hero {
  position: relative;
}

/* Create a pseudo-element to serve as the overlay */
.hero::after {
  content: "";
  /* This is necessary for the pseudo-element to work */
  position: absolute;
  /* This positions the pseudo-element relative to the hero section */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(206, 208, 191, 0.462);
  /* Dark slate gray with 50% transparency */
}

/* Position the hero content relatively with a higher z-index to make it appear over the overlay */
.hero-body {
  position: relative;
  z-index: 1;
}

.feat-icon {
  width: 120px;
  height: 120px;
  margin: 0 auto 20px auto;
  display: block;
}

.testimonial-text {
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: #333;
}

.testimonial-author {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

/* Styling for the slick controls */
.slick-prev:before,
.slick-next:before {
  color: #008080;
}

.logo-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.logo-cloud li {
  margin: 20px;
}

.partner-logo {
  width: 128px;
  /* Or the size you want for your logos */
  height: auto;
}

/* Add more horizontal spacing within sections */
.columns {
  margin-left: 20px;
  /* adjust as needed */
  margin-right: 20px;
  /* adjust as needed */
}

.news h1 {
  font-size: 1.2rem;
}

.news p {
  font-size: 1rem;
}

/* Add more spacing in the footer */
.footer {
  padding: 50px 0;
  /* adjust as needed */
}